*{
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 18px;
  width: 960px;
  color: #777;
  background: #777;
  line-height: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

header {
  padding: 20px;
  margin-bottom: 10px;
  color: #777;
  background: #ebebeb;
}

nav {
  padding: 20px;
  margin-bottom: 20px;
  color: #777;
  background: #ebebeb;
}

section {
  width: 495px;
  height: 300 px;
  padding-top: 30px;
  margin-bottom: 20px;
  float: left;
  background: #ebebeb;
}

.left {
  float: left;
  width: 495px;
  height: 300px;
  background: #ebebeb;
}

article {
   width: 475px;
   height: 220px;
   background: #777;
   margin: 10px 10px 10px 10px;
   padding-top: 10px;
  color: #ebebeb;
}

div {
    font-weight: bold;
    width: 440px;
    height: 70px;
    padding-top: 10px;
    background: #ebebeb;
    color: #777;
    margin: 10px 30px 10px 15px;
}

p {
    width: 440px;
    height: 70px;
    padding-top: 10px;
    background: #ebebeb;
    color: #777;
    margin: 10px 30px 10px 15px;
}

.right {
  float: right;
  width: 440px;
  height: 300px;
  background: #ebebeb;
  padding-top: 30px;
}

aside {
  float: right;
  width: 440px;
  height: 300px;
  background: #ebebeb;
  padding-top: 30px;
}

footer {
  padding: 20px;
  clear: both;
  background: #ebebeb;
}
